# Train-Test Split: 
- Train-Test split is a data preparation technique where we divide the dataset into:
- Training data: used to train the ML model.
- Testing data: used to evaluate how well the model performs on unseen data.
##### why do we need Train-Test split:
If we train and test on the same data, the model: 
- Looks smart
- Fails in real-world data
##### Train-Test split helps to:
- Detect overfitting
- Measure real performance
- Simulate future/unseen data
##### Real-Life analogy:
Studying from a book (train) != writing exam questions you've already seen(test)
##### common split ratios: 
###### Training  - testing  - when to use 

- 80% - 20% - Standard choice
- 70% - 30% - Small dataset
- 90% - 10% - Large dataset

##### example:
IF N = 100 rows and split = 80:20
- Train = 80 samples
- Test = 20 samples

In [24]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [43]:
data= pd.DataFrame({
    "Study_Hours":[1,2,3,4,5,6,7,8],
    "Marks":[35,50,50,55,65,70,80,85]
})

In [45]:
data

   Study_Hours  Marks
0            1     35
1            2     50
2            3     50
3            4     55
4            5     65
5            6     70
6            7     80
7            8     85

In [47]:
x = data[["Study_Hours"]]
y = data["Marks"]

In [57]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20,random_state=40)

In [59]:
x_train

   Study_Hours
2            3
4            5
0            1
5            6
3            4
6            7

In [61]:
x_test

   Study_Hours
7            8
1            2

In [63]:
x_train.shape

(6, 1)

In [65]:
x_test.shape

(2, 1)

## Real time Dataset

In [68]:
diabetes = pd.read_csv('https://raw.githubusercontent.com/YBIFoundation/Dataset/main/Diabetes.csv')

In [70]:
diabetes

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [72]:
diabetes.head(5)

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [76]:
diabetes.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [84]:
y = diabetes['diabetes']

In [108]:
 x = diabetes.drop(['diabetes'],axis=1)
           # or
#x = diabetes[['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi','dpf', 'age']]

In [110]:
x

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0              6      148         72       35        0  33.6  0.627   50
1              1       85         66       29        0  26.6  0.351   31
2              8      183         64        0        0  23.3  0.672   32
3              1       89         66       23       94  28.1  0.167   21
4              0      137         40       35      168  43.1  2.288   33
..           ...      ...        ...      ...      ...   ...    ...  ...
763           10      101         76       48      180  32.9  0.171   63
764            2      122         70       27        0  36.8  0.340   27
765            5      121         72       23      112  26.2  0.245   30
766            1      126         60        0        0  30.1  0.349   47
767            1       93         70       31        0  30.4  0.315   23

[768 rows x 8 columns]

In [116]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20,random_state=2529)

In [118]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((614, 8), (154, 8), (614,), (154,))